doctype html
html(lang='en')
  head
    title Hello World!
  body
    h1 Hello World!
    p.
      We are using node.js <script>document.write(process.version)</script>
      and atom-shell <script>document.write(process.versions['atom-shell'])</script>.
