doctype html
html(lang='en')
  head
    title Hello World!
    script(type='text/javascript',src='js/tauntPlayer.js')
  body
    h1 Taunt Player
    p.
      debug info:
      node.js <script>document.write(process.version)</script>
      atom-shell <script>document.write(process.versions['atom-shell'])</script>.
